<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.zhuoweizhang.mcpelauncher"
    android:versionCode="170"
    android:versionName="1.27.1"
    android:installLocation="auto">

    <permission
        android:name="net.zhuoweizhang.mcpelauncher.ADDON"
        android:description="@string/permdesc_mcpelauncher_addon"
        android:label="@string/permlab_mcpelauncher_addon"
        android:protectionLevel="dangerous" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Kamcord -->
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <!-- Xbox Live SDK -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-library android:name="org.apache.http.legacy" android:required="false"/>

    <application
        android:name="net.zhuoweizhang.mcpelauncher.BlockLauncher"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/BlockLauncherTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="net.zhuoweizhang.mcpelauncher.LauncherAppActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="minecraftpe" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Samsung's multiwindow intent -->
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.mcworld" />
                <data android:pathPattern=".*\\..*\\.mcworld" />
                <data android:pathPattern=".*\\..*\\..*\\.mcworld" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mcworld" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.mcworld" />
                <data android:pathPattern=".*\\..*\\.mcworld" />
                <data android:pathPattern=".*\\..*\\..*\\.mcworld" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mcworld" />
            </intent-filter>
        </activity>
        <activity android:name="net.zhuoweizhang.mcpelauncher.MainMenuOptionsAppActivity"/>
        <activity-alias android:name="net.zhuoweizhang.mcpelauncher.ui.MainMenuOptionsActivity"
            android:targetActivity="net.zhuoweizhang.mcpelauncher.MainMenuOptionsAppActivity"/>
        <activity android:name="net.zhuoweizhang.mcpelauncher.ui.NerdyStuffActivity" />
        <activity android:name="net.zhuoweizhang.mcpelauncher.ManagePatchesAppActivity" />
        <activity-alias android:name="net.zhuoweizhang.mcpelauncher.ui.ManagePatchesActivity"
            android:targetActivity="net.zhuoweizhang.mcpelauncher.ManagePatchesAppActivity"/>
        <activity android:name="net.zhuoweizhang.mcpelauncher.ui.AboutAppActivity" />
        <activity android:name="net.zhuoweizhang.mcpelauncher.api.ImportPatchActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="net.zhuoweizhang.mcpelauncher.action.IMPORT_PATCH" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.mod" />
                <data android:pathPattern=".*\\..*\\.mod" />
                <data android:pathPattern=".*\\..*\\..*\\.mod" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mod" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="net.zhuoweizhang.mcpelauncher.ImportPatchActivity"
            android:exported="true"
            android:targetActivity="net.zhuoweizhang.mcpelauncher.api.ImportPatchActivity" />

        <activity
            android:name="net.zhuoweizhang.mcpelauncher.ui.NoMinecraftActivity"
            android:exported="false"
            android:process=":CrashHandler"
            android:stateNotNeeded="true" />
        <activity
            android:name="net.zhuoweizhang.mcpelauncher.ui.MinecraftNotSupportedActivity"
            android:exported="false"
            android:process=":CrashHandler"
            android:stateNotNeeded="true" />
        <activity android:name="net.zhuoweizhang.mcpelauncher.api.ImportSkinActivity" >
            <intent-filter>
                <action android:name="net.zhuoweizhang.mcpelauncher.action.SET_SKIN" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/png" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="net.zhuoweizhang.mcpelauncher.ImportSkinActivity"
            android:exported="true"
            android:targetActivity="net.zhuoweizhang.mcpelauncher.api.ImportSkinActivity" />

        <activity android:name="net.zhuoweizhang.mcpelauncher.api.ImportTexturepackActivity" >
            <intent-filter>
                <action android:name="net.zhuoweizhang.mcpelauncher.action.SET_TEXTUREPACK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.zhuoweizhang.mcpelauncher.action.REPLACE_TEXTUREPACK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file"/>
            </intent-filter>
        </activity>
        <activity
            android:name="net.zhuoweizhang.mcpelauncher.api.ImportScriptActivity"
            android:label="@string/pref_zz_manage_scripts" >
            <intent-filter>
                <action android:name="net.zhuoweizhang.mcpelauncher.action.IMPORT_SCRIPT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.js" />
                <data android:pathPattern=".*\\..*\\.js" />
                <data android:pathPattern=".*\\..*\\..*\\.js" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.js" />
            </intent-filter>
        </activity>
        <activity android:name="net.zhuoweizhang.mcpelauncher.ui.ManageAddonsActivity" />
        <activity android:name="net.zhuoweizhang.mcpelauncher.ui.ManageTexturepacksActivity" />
        <activity android:name="net.zhuoweizhang.mcpelauncher.ui.ManageSkinsActivity" />
        <activity
            android:name="net.zhuoweizhang.mcpelauncher.ManageScriptsAppActivity"
            android:label="@string/pref_zz_manage_scripts" >
        </activity>
        <activity-alias android:name="net.zhuoweizhang.mcpelauncher.ui.ManageScriptsActivity"
            android:targetActivity="net.zhuoweizhang.mcpelauncher.ManageScriptsAppActivity"/>
        <activity android:name="net.zhuoweizhang.mcpelauncher.ui.TexturePacksActivity" android:label="@string/pref_texture_pack"/>

        <!--<receiver android:name="net.zhuoweizhang.mcpelauncher.AddonInstallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>-->

        <activity android:name="com.ipaulpro.afilechooser.FileChooserActivity" />

        <activity
            android:name="net.zhuoweizhang.mcpelauncher.ui.GetSubstrateActivity"
            android:exported="false"
            android:process=":CrashHandler"
            android:stateNotNeeded="true" />

        <activity
            android:name="net.zhuoweizhang.mcpelauncher.ui.TrampolineActivity">
            <intent-filter>
                <action android:name="net.zhuoweizhang.mcpelauncher.action.TRAMPOLINE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="net.zhuoweizhang.mcpelauncher.ui.TrampolineActivity2"
            android:targetActivity="net.zhuoweizhang.mcpelauncher.ui.TrampolineActivity">
            <intent-filter>
                <action android:name="net.zhuoweizhang.mcpelauncher.action.TRAMPOLINE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Xbox Live SDK -->

        <activity android:name="com.microsoft.xbox.idp.ui.AuthFlowActivity" android:theme="@style/OnlineidUiTheme" android:windowSoftInputMode="adjustPan|stateUnchanged"/>
        <activity android:name="com.microsoft.xbox.idp.ui.ErrorActivity" android:theme="@style/OnlineidUiTheme"/>
        <activity android:name="com.microsoft.onlineid.interop.xbox.ui.SignUpActivity" android:theme="@style/OnlineidUiTheme"/>
        <activity android:name="com.microsoft.onlineid.interop.xbox.ui.SignInErrorActivity" android:theme="@style/OnlineidUiTheme"/>
        <activity android:name="com.microsoft.onlineid.interop.xbox.ui.XUIDCreationErrorActivity" android:theme="@style/OnlineidUiTheme"/>
        <activity android:name="com.microsoft.onlineid.interop.xbox.ui.WelcomeActivity" android:theme="@style/OnlineidUiTheme"/>
        <activity android:name="com.microsoft.onlineid.interop.singleaccount.SingleAccountActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.microsoft.onlineid.interop.singleaccount.SingleAccountActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:icon="@drawable/msa_ms_logo" android:label="@string/webflow_header" android:name="com.microsoft.onlineid.authenticator.AccountAddPendingActivity" android:theme="@style/Theme.MSA"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:name="com.microsoft.onlineid.internal.ui.WebFlowActivity" android:theme="@style/Theme.MSA" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:icon="@drawable/msa_ms_logo" android:label="@string/webflow_header" android:name="com.microsoft.onlineid.ui.AddAccountActivity" android:theme="@style/Theme.MSA" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.microsoft.onlineid.internal.ADD_ACCOUNT"/>
                <action android:name="com.microsoft.onlineid.internal.SIGN_UP_ACCOUNT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:name="com.microsoft.onlineid.ui.SignOutActivity" android:theme="@style/Theme.MSA.Transparent"/>
        <activity android:exported="false" android:icon="@drawable/msa_ms_logo" android:label="@string/webflow_header" android:name="com.microsoft.onlineid.internal.ui.AccountPickerActivity" android:theme="@style/Theme.MSA.Dialog">
            <intent-filter>
                <action android:name="com.microsoft.onlineid.internal.PICK_ACCOUNT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:icon="@drawable/msa_ms_logo" android:label="@string/webflow_header" android:name="com.microsoft.onlineid.internal.ui.InterruptResolutionActivity" android:theme="@style/Theme.MSA"/>
        <activity android:configChanges="keyboard|keyboardHidden|screenLayout" android:name="com.facebook.FacebookActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.microsoft.xboxtcui.FbLoginShimActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.microsoft.xboxtcui.FbShareShimActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="false" android:name="com.microsoft.onlineid.internal.sso.client.BackupService">
            <intent-filter>
                <action android:name="com.microsoft.onlineid.internal.sso.client.PUSH_BACKUP"/>
                <action android:name="com.microsoft.onlineid.internal.sso.client.PUSH_BACKUP_IF_NEEDED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.microsoft.onlineid.internal.MsaService">
            <intent-filter>
                <action android:name="com.microsoft.onlineid.internal.GET_TICKET"/>
                <action android:name="com.microsoft.onlineid.internal.UPDATE_PROFILE"/>
                <action android:name="com.microsoft.onlineid.internal.SIGN_OUT"/>
                <action android:name="com.microsoft.onlineid.internal.SIGN_OUT_ALL_APPS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="true" android:name="com.microsoft.onlineid.internal.sso.service.MsaSsoService">
            <intent-filter>
                <action android:name="com.microsoft.msa.action.SSO_SERVICE"/>
            </intent-filter>
            <meta-data android:name="com.microsoft.msa.service.sso_version" android:value="2"/>
            <meta-data android:name="com.microsoft.msa.service.sdk_version" android:value="@string/sdk_version_name"/>
        </service>

	<!-- FileProvider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="net.zhuoweizhang.mcpelauncher.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_filepaths" />
        </provider>

        <!-- Samsung's multiwindow metadata -->
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <!--
        <meta-data android:name="com.sec.minimode.icon.portrait.normal" android:resource="@drawable/ic_launcher" />
        <meta-data android:name="com.sec.minimode.icon.landscape.normal" android:resource="@drawable/ic_launcher" />
        -->

    </application>
    <!-- for relaunching into 32-bit mode -->
    <instrumentation
        android:name="net.zhuoweizhang.mcpelauncher.RelaunchInstrumentation"
        android:targetPackage="net.zhuoweizhang.mcpelauncher"/>

</manifest>
